.results{
    width: 650px;
    height:400px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.score{
    width:50%;
}
.summary{
    width:50%;
}




