body{
    margin:0px;
}

.results{
    width:100%;
    height:100vh;
    flex-direction: column;
    margin:0px;
}

.score{
    height:40%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.summary{
    height: 60%;
}

